.form{
    border: 1px solid black;
    border-radius: 30px;
    width: fit-content;
    padding: 50px 50px 80px 50px;
    display: block;
    margin: 0 auto;
    background:white;
    color:black;
}


.form-input{
    margin: 40px;
}

.form-input input{
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}

input::-webkit-input-placeholder {
    text-align: center;
 }

.header{
    margin-bottom: 50px;
    margin-top: 0px;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin:8px;
    text-decoration: none;
    background: #271F2B;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0px 0px 0px 0px #01939A;
    border-radius: 8px;
}

button:hover,
button:focus {
    box-shadow: 0px 0px 0px 5px #01939A;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}



